
<div class="container">
 <h1 class="mt-4 text-left">Here all the cars you rented</h1>
  <p class="text-left mt-2 mb-4">Somethin and something here.</p>
  <hr>
  <div class="d-flex justify-content-center">
    <div class="row">
      <% @bookings.each do |booking| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card-automobile">
          <h2><%= link_to "#{booking.automobile.brand}, #{booking.automobile.model}", automobile_path(booking.automobile) %></h2>
          <div class="card-automobile-infos">
            <div>
              <p> <%= "Rented from: #{booking.starting_date}" %></p>
              <p> <%= "to: " %></p>
              <p> <%= "Address: #{booking.automobile.address}" %></p>
              <p><%= "#{booking.automobile.year} | #{booking.automobile.km} Km" %></p>
            </div>
            <div>
              <h6 class="card-automobile-pricing"><h6><strong><%= "$#{booking.automobile.price} daily" %></strong></h6></h5>
            </div>
          </div>
            <%= cl_image_tag booking.automobile.photo.key %>
          </div>
        </div>
        <% end %>
      </div>
      
  </div>
</div>



