<div class="container text-center">
  <h1 class="mt-4">My bookings</h1>
  <div class="d-flex justify-content-center">
    <div class="row">
    <% @bookings.each do |booking| %>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card-automobile">
        <%= cl_image_tag booking.automobile.photo.key %>
        <h2><%= link_to "#{booking.automobile.brand}, #{booking.automobile.model}", automobile_path(booking.automobile) %></h2>
        <div class="card-automobile-infos">
          <div>
            <p><%= "#{booking.automobile.year} | #{booking.automobile.km} Km" %></p>
          </div>
          <div>
            <h5 class="card-automobile-pricing"><%= "$#{booking.automobile.price} daily" %></h5>
          </div>
          <%= cl_image_tag automobile.user.photo.key, class: "card-automobile-user avatar-bordered" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  </div>
</div>


