<div class="container">
  <%= simple_form_for [ @automobile, @booking ] do |f| %>
    <h1>Choose when and just enjoy your car!</h1>
    <div class="form-row">
      <%= f.input :starting_date, as: :string, required: true, error: 'Starting date is mandatory, please specify one', input_html: {class: "datepicker", id: "start_date"} %>
      <%= f.input :finish_date, as: :string, required: true, error: 'Finishing date is mandatory, please specify one', input_html: {class: "datepicker", id: "finish_date"} %>
    </div>
    <%= f.submit "Pay now", class: "btn btn-primary" %>
  <% end %>
    <div>
      <h1>Your total: </h1>
      <p id="total_price" data-price="<%= @automobile.price %>"></p>
    </div>
    
    <%= link_to "Go back to car details", automobile_path(@automobile), class: "btn btn-primary my-3" %>
</div>
