<div class="container">
  <%= simple_form_for [ @automobile, @booking ] do |f| %>
    <h1>Choose when and just enjoy your car!</h1>
    <div class="form-row">
      <%= f.input :starting_date, as: :date, html5: true, error: 'Starting date is mandatory, please specify one', class: "form-control" %>
      <%= f.input :finish_date, as: :date, html5: true, error: 'F date is mandatory, please specify one', class: "form-control" %>
    </div>
    <%= f.submit "Pay now", class: "btn btn-primary" %>
  <% end %>
    <%= link_to "Go back to car details", automobile_path(@automobile), class: "btn btn-primary my-3" %>
</div>
