<div class="container text-center">
  <h1 class="">Booking details</h1>
  <div class="d-flex justify-content-center">
    <div class="card-booking">
      <%= cl_image_tag @booking.automobile.photo.key, crop: :fill %>
      <h2 class="py-3 bg-secondary"><%= @booking.automobile.brand %> <%= @booking.automobile.model %></h2>
      <div class="card-booking-infos">
        <div class="automobile-info">
          <p>Year: <%= @booking.automobile.year %></p>
          <p><%= @booking.automobile.km %> km</p>
        </div>
        <div class="booking-info">
          <p>Booking status: <%= @booking.status %></p>
          <p>Paid: <%= @booking.paid ? "Si" : "No" %></p>
          <p>Total price: <%= @booking.total_price %></p>
        </div>
        <div class="fechas">
          <p>From: <%= @booking.starting_date %></p>
          <p>To: <%= @booking.finish_date %></p>
        </div>
      </div>
    </div>
  </div>
</div>