<!-- BANNER -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1568605117036-5fe5e7bab0b7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">
  <div class="container-search">
    <div class="search col-4">
      <h1>Encontrá tu auto ideal</h1>
      <p>¡Descubrí cómo alquilar un auto de la forma más fácil y rápida!</p>
      <div class="search-form">
        <form class="form">
          <div class="col-md-2 form-group">
            <label for="desde" class="form-label">Desde</label>
            <input type="date" id="desde" name="desde" aria-label="Desde" class="form-control" />
          </div>
          <div class="col-md-2 form-group">
            <label for="hasta" class="form-label">Hasta</label>
            <input type="date" class="form-control" id="hasta" name="hasta" aria-label="Hasta">
          </div>
          <div class="col-md-2 form-group">
            <select class="form-select form-select-sm" aria-label="Default select example" id="select-category">
              <option selected>Selecciona una categoría</option>
              <option value="1">Auto</option>
              <option value="2">Camioneta</option>
              <option value="3">Moto</option>
            </select>
          </div>
          <div class="col-md-2 form-group align-bottom">
            <%= link_to 'Buscar', automobiles_path, class: 'btn btn-yellow' %>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- CARDS -->
<div class="container-reviews">
  <h1 class="mt-4 text-left">Mirá las mejores opciones que tenemos para vos</h1>
  <p class="text-left mt-2 mb-4">Más de 1.000 evaluaciones de usuarios, con una valoración media de 4.5 de 5 estrellas.</p>
  <div class="row">
    <% @automobiles.each do |automobile| %>
    <div class="col-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2">
      <div class="card-trip">     
        <%= cl_image_tag automobile.photo.key %>
        <div class="card-trip-infos">
          <div>
            <%= link_to automobile_path(automobile) do %>
            <h2><%= automobile.brand %> <%= automobile.model %></h2>
            <% end %>
            <p class="pt-2"><%= "#{automobile.year} | #{automobile.km} Km" %></p>
          </div>
          <h2 class="card-trip-pricing">$<%= "#{automobile.price} daily"%></h2>
          <%= cl_image_tag automobile.user.photo.key, class: 'card-trip-user avatar-bordered' %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
