<div class="container">
  <h1 class="text-center">Edit your car</h1>
  <%= simple_form_for @automobile do |f| %>
  <%= f.input :model %>
  <%= f.input :brand %>
  <%= f.input :km %>
  <%= f.input :year %>
  <%= f.input :price %>
  <%= f.input :category, collection: CATEGORIES %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit, class: 'btn btn-primary mb-3' %>
<% end %>

<%= link_to "Go back", root_path, class: 'btn btn-primary' %>
</div>