<!-- CARDS -->

<div class="container">
  <h1 class="mt-4 text-left">The cars you always wanted, at the best price</h1>
  <p class="text-left mt-2 mb-4">Over 1,000 user reviews, with an average rating of 4.5 out of 5 stars.</p>
  <hr>
  <div>
    <h3 class="text-center my-3">Look all the cars we have near you!</h3>
    <div id="map"
     style="width: 80%; height: 400px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <hr>
  <h3 class="text-center my-3">Search for your ideal car!</h3>

  <div class="mb-4 d-flex justify-content-center">
    <%= form_tag automobiles_path, method: :get, class: 'row w-50' do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control w-75 mr-3",
        placeholder: "Find a car"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="row">
    <% @automobiles.each do |automobile| %>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card-automobile">
        <%= cl_image_tag automobile.photo.key %>
        <h2><%= link_to "#{automobile.brand}, #{automobile.model}", automobile_path(automobile) %></h2>
        <div class="card-automobile-infos">
          <div>
            <p><%= "#{automobile.year} | #{automobile.km} Km" %></p>
          </div>
          <div>
            <h5 class="card-automobile-pricing"><%= "$#{automobile.price} daily" %></h5>
          </div>
          <%= cl_image_tag automobile.user.photo.key, link_to "", automobile_path(automobile)class: "card-automobile-user avatar-bordered" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
