<div class="container">
  <div class="conteiner">
    <%= simple_form_for @automobile do |f| %>
      <%= f.input :model %>
      <%= f.input :brand %>
      <%= f.input :km %>
      <%= f.input :year %>
      <%= f.input :price %>
      <%= f.input :address %>
      <%= f.input :category, collection: CATEGORIES %>
      <%= f.input :photo, as: :file %>
      <%= f.button :submit %>
    <% end %>
  </div>
  <%= link_to "Go back", root_path, class: "btn btn-primary" %>
</div>
