<div class="container">
  <%= simple_form_for @automobile do |f| %>
  <%= f.input :model %>
  <%= f.input :brand %>
  <%= f.input :km %>
  <%= f.input :year %>
  <%= f.input :price %>
  <%= f.input :category, collection: CATEGORIES %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit %>
<% end %>

<%= link_to "Go back", root_path %>
</div>
