<div class="container">
  <h1 class="text-center">Manage your cars</h1>
  <div class="row">
    <% if @automobiles.empty? %>
      <div class="d-flex flex-column">
        <p>Don't have a car yet? Not a problem! It just takes 2 minutes!</p>
        <%= link_to "Create your first car", new_automobile_path, class: 'btn btn-primary' %>
      </div>
    <% else %>
      <% @automobiles.each do |automobile| %>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card-automobile">
            <%= cl_image_tag automobile.photo.key %>
            <h2><%= link_to "#{automobile.brand}, #{automobile.model}", automobile_path(automobile) %></h2>
            <div class="card-automobile-infos">
              <div>
                <p><%= "#{automobile.year} | #{automobile.km} Km" %></p>
              </div>
              <div>
                <%= link_to "Edit", edit_automobile_path(automobile), class: 'btn btn-primary' %>
                <%#= link_to "Delete", edit_automobile(automobile), class: 'btn btn-primary' %>
              </div>
              <div>
                <h5 class="card-automobile-pricing"><%= "$#{automobile.price} daily" %></h5>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="col-12">
        <%= link_to "Add a new car", new_automobile_path, class: 'btn btn-primary' %>
      </div>
    <% end %>  
  </div>
</div>