
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card-trip card-trip-infos my-3 rounded">
        <div class="show-header">
          <div class="d-flex align-items-center" id="car-name">
            <%= @automobile.model %> <%= @automobile.brand %>
          </div>
          <div class="d-flex align-items-center" id="owner-info">
            <div id="owner-name"><%= @automobile.user.full_name %></div>
            <% if @automobile.user.photo.attached? %>
              <%= cl_image_tag @automobile.user.photo.key, class: "avatar-round" %>
            <% else %>
              <img src="app/assets/images/photo_placeholder.png" alt="user" class="avatar-round">
            <% end %>
          </div> 
        </div>    
      </div>
      
      <div class="car-info">
        <%= cl_image_tag @automobile.photo.key, class: "car-img" %>        
      </div>
      <table class="table col-8 mt-3">
        <thead>
          <tr>
            <th>Model:</th>
            <th>Brand:</th>
            <th>Category:</th>
            <th>Year:</th>
            <th>Km:</th>              
          </tr>          
        </thead>
        <tbody>
          <td><%= @automobile.model %></td>
          <td><%= @automobile.brand %></td>
          <td><%= @automobile.category %></td>
          <td><%= @automobile.year %></td>
          <td><%= @automobile.km %></td>            
        </tbody>
      </table>
      <div class="book-card col-5 offset-8 p-3">
        <div>
          <%= simple_form_for [ @automobile, @booking ] do |f| %>
            <h5>Choose when and just enjoy your car!</h5>
            <div class="form">
              <%= f.input :starting_date, as: :string, required: true, error: 'Starting date is mandatory, please specify one', input_html: {class: "datepicker", id: "start_date"} %>
              <%= f.input :finish_date, as: :string, required: true, error: 'Finishing date is mandatory, please specify one', input_html: {class: "datepicker", id: "finish_date"} %>
              <%= f.input :total_price, :as => :hidden, :input_html => { :value => "", id: "form_total_price" } %> 
            </div>              
            <div class="book-card-footer">
              <h6><strong>Price/day:</strong></h6><span id="total_price" data-price="<%= @automobile.price %>"><%= @automobile.price %></span>
              <%= f.submit "Book now", class: "btn btn-primary", id: "new_booking_submit" %>
            </div> 
          <% end %>
        </div>
      </div>
      <div id="link-1">
        <%= link_to "Back to cars", automobiles_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>